[Unit]
Description=Vault Agent
Documentation=https://developer.hashicorp.com/vault/docs/agent
Requires=network-online.target
After=network-online.target

[Service]
User=vault
Group=vault
PIDFile=/apps/vault/.pidfile
ExecStart=/usr/bin/vault agent -config=/apps/vault/vault-agent.hcl
KillMode=process
KillSignal=SIGTERM
RemainAfterExit=true
ExecReload=/bin/kill --signal HUP $MAINPID
Restart=on-failure
RestartSec=5
TimeoutStopSec=30
LimitNOFILE=65536
LimitMEMLOCK=infinity
LimitCORE=0
[Install]
WantedBy=multi-user.target